<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <b>"СРАЗУ МАЙ"</b>

    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/main}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/concertview}">Концерты</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="height: 100%"></div>
        <div class="col-md-8" style="height: 100%">

            <div class="card-group" style="margin: 0em; padding-top: 1em">
                <!--<div class="card bg-light mb-3" style="padding: 1em; margin-top: 1em; margin-bottom: 1em">-->
                    <!--<img class="card" src="${pageContext.request.contextPath}/pictures/concert2a.jpg"-->
                         <!--style="margin: 0.1%; padding: 0.1%; width: 100%"-->
                         <!--alt="Responsive image">-->
                <!--</div>-->
                <div class="card bg-light mb-3" style="padding: 1em; margin-top: 1em; margin-bottom: 1em">
                    <h3 th:text="${concert.concertName}"></h3>
                    <p th:text="${concert.groop.groopname}"></p>
                    <p th:text="${concert.timing.date}"></p>
                    <p th:text="${concert.timing.time}"></p>
                    <p th:text="${concert.concertPlace.city}"></p>
                    <p th:text="${concert.concertPlace.place}"></p>
                    <p th:text="${concert.concertPlace.entrance}"></p>
                    <p th:text="${concert.discription}"></p>
                </div>
            </div>
            <!--<c:forEach var="comment" items="${requestScope.comments}">-->
                <!--<div class="jumbotron" style="padding: 0em; margin: 0em">-->
                    <!--<c:if test="${sessionScope.user.id eq comment.idUser}">-->
                        <!--<p class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <!--${comment.username} (-->
                            <!--<fmt:parseDate value="${ comment.time }" pattern="yyyy-MM-dd'T'HH:mm" var="parsedDateTime" type="both" />-->
                            <!--<fmt:formatDate pattern="dd.MM.yyyy HH:mm" value="${ parsedDateTime }" />-->
                            <!--): ${comment.description}-->
                    <!--</c:if>-->
                    <!--<c:if test="${sessionScope.user.id ne comment.idUser}">-->
                        <!--<p>&nbsp;&nbsp;${comment.username} (-->
                            <!--<fmt:parseDate value="${ comment.time }" pattern="yyyy-MM-dd'T'HH:mm" var="parsedDateTime" type="both" />-->
                            <!--<fmt:formatDate pattern="dd.MM.yyyy HH:mm" value="${ parsedDateTime }" />-->
                            <!--): ${comment.description}-->
                    <!--</c:if>-->
                    <!--<c:if test="${(sessionScope.user.role eq 'ADMIN') or (sessionScope.user.id eq comment.idUser)}">-->
                        <!--<a style="float: right" class="text-danger" href="${pageContext.request.contextPath}/delete-comment?id=${comment.id}">-->
                            <!--Удалить&nbsp;&nbsp;-->
                        <!--</a>-->
                    <!--</c:if>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</c:forEach>-->

            <!--<form action="${pageContext.request.contextPath}/concert-details?username=${sessionScope.user.id}&idconcert=${requestScope.concert.id}"-->
                  <!--method="post">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control" name="comment" placeholder="Добавить комментарий"-->
                           <!--aria-label="Добавить комментарий" aria-describedby="button-addon4">-->
                    <!--<div class="input-group-append" id="button-addon4">-->
                        <!--<button class="btn btn-outline-secondary" type="submit">-->
                            <!--<fmt:message key="submit.label"/>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</form>-->
        </div>
        <div class="col-md-2" style="height: 100%"></div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>